.home_s-1
	padding: 70px 0 0 0
	.col-lg-6
		&:first-child
			border-right: 1px solid #e5e5e5
	.description
		font-size: 30px
		color: #808285
		font-weight: 400
		padding-right: 135px
		@media screen and ( max-width: 1023px)
			padding-right: 15px
			padding-bottom: 15px
	.content
		padding: 0 15px
		@media screen and ( max-width: 1023px)
			padding: 0
		.caption
			p
				font-size: 18px
				color: #333333
				font-weight: 400
		.btn-view
			margin-top: 35px
			a
				background: #0082a1
				color: #ffffff
				text-transform: uppercase
				font-size: 14px
				padding: 16px 45px
	.about-img
		padding-top: 60px
		.img
			img
				width: 100%
