section.home_s-1
	.container
		.row
			.col-lg-6
				.head-title
					h1 Giới thiệu
				.description Thủ Thiêm zeit - Trung tâm kết nối cộng đồng thượng lưu
			.col-lg-6
				.content
					.caption
						p Dự án Thủ Thiêm zeit thuộc đô thị mới thủ thiêm tọa lạc trên tuyến đường chính Nguyễn Cơ Thạch - trung tâm TP.Thủ Đức trong tương lai được quy hoạch bởi chủ đầu tư ngoại Việt Nam GS Enterprise.
					.btn-view
						a(href="", data-fancybox, data-src="#content-modal") Xem thêm
		.about-img
			.img
				img(src="./img/about-1.png", alt="")
		#content-modal.modal-about
			.row
				.col-lg-6
					.card-img
						.img
							img(src="./img/popup-about.png", alt="")
				.col-lg-6
					.title-popup
						h2 Giới thiệu dự án
					.title-popup-zone Thủ thiêm Zeit
					.text
						p Dự án Thủ Thiêm zeit thuộc đô thị mới thủ thiêm tọa lạc trên tuyến đường chính Nguyễn Cơ Thạch - trung tâm TP.Thủ Đức trong tương lai được quy hoạch bởi chủ đầu tư ngoại Việt Nam GS Enterprise.
						p Dự án Thủ Thiêm zeit thuộc đô thị mới thủ thiêm tọa lạc trên tuyến đường chính Nguyễn Cơ Thạch - trung tâm TP.Thủ Đức trong tương lai được quy hoạch bởi chủ đầu tư ngoại Việt Nam GS Enterprise.
						p Dự án Thủ Thiêm zeit thuộc đô thị mới thủ thiêm tọa lạc trên tuyến đường chính Nguyễn Cơ Thạch - trung tâm TP.Thủ Đức trong tương lai được quy hoạch bởi chủ đầu tư ngoại Việt Nam GS Enterprise.
						p Dự án Thủ Thiêm zeit thuộc đô thị mới thủ thiêm tọa lạc trên tuyến đường chính Nguyễn Cơ Thạch - trung tâm TP.Thủ Đức trong tương lai được quy hoạch bởi chủ đầu tư ngoại Việt Nam GS Enterprise.
						p Dự án Thủ Thiêm zeit thuộc đô thị mới thủ thiêm tọa lạc trên tuyến đường chính Nguyễn Cơ Thạch - trung tâm TP.Thủ Đức trong tương lai được quy hoạch bởi chủ đầu tư ngoại Việt Nam GS Enterprise.
						p Dự án Thủ Thiêm zeit thuộc đô thị mới thủ thiêm tọa lạc trên tuyến đường chính Nguyễn Cơ Thạch - trung tâm TP.Thủ Đức trong tương lai được quy hoạch bởi chủ đầu tư ngoại Việt Nam GS Enterprise.
