section.home_s-6(setBackground="./img/bg-6.png")
	.container
		.row
			.col-lg-6
				.head-title
					h2 Đăng ký tư vấn
				.wrap-form
					.row
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text', placeholder="Họ & Tên*")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Số ĐT*")
						.form-group.col-12
							input.form-control(type='text',placeholder="Email*")
						
						.form-group.radio.col-12
							label.text Tôi đang quan tâm vế
							ul.item-form
								li.list-radio
									input(type="radio", id="radio-1" name="radio")
									label(for="radio-1") Thủ Thiêm zeit
								li.list-radio
									input(type="radio", id="radio-2" name="radio")
									label(for="radio-2") Dự án tương lai của VGSI/VGSE
						
						.form-group.checkbox.col-12
							label.text Sản phẩm quan tâm ở dự án Thủ Thiêm zeit(*)
							ul.item-form
								li.list-checkbox
									input(type="checkbox", id="checkbox-1" name="checkbox")
									label(for="checkbox-1") Căn hộ - 1 PN
								li.list-checkbox
									input(type="checkbox", id="checkbox-2" name="checkbox")
									label(for="checkbox-2") Căn hộ - 2 PN
								li.list-checkbox
									input(type="checkbox", id="checkbox-3" name="checkbox")
									label(for="checkbox-3") Căn hộ - 1 PN
								li.list-checkbox
									input(type="checkbox", id="checkbox-4" name="checkbox")
									label(for="checkbox-4") Căn hộ - 2 PN
								li.list-checkbox
									input(type="checkbox", id="checkbox-5" name="checkbox")
									label(for="checkbox-5") Căn hộ - 1 PN
								li.list-checkbox
									input(type="checkbox", id="checkbox-6" name="checkbox")
									label(for="checkbox-6") Căn hộ - 2 PN
								li.list-checkbox
									input(type="checkbox", id="checkbox-7" name="checkbox")
									label(for="checkbox-7") Căn hộ - 1 PN
								li.list-checkbox
									input(type="checkbox", id="checkbox-8" name="checkbox")
									label(for="checkbox-8") Căn hộ - 2 PN

						.form-group.checkbox.col-12
							label.text Tôi biết đến dự án qua(*)
							ul.item-form
								li.list-checkbox
									input(type="checkbox", id="checkbox-3" name="checkbox")
									label(for="checkbox-3") Quảng cáo ngoài trời
								li.list-checkbox
									input(type="checkbox", id="checkbox-4" name="checkbox")
									label(for="checkbox-4") Chuyên viên tư vấn đại lý
								li.list-checkbox
									input(type="checkbox", id="checkbox-5" name="checkbox")
									label(for="checkbox-5") Báo chí
								li.list-checkbox
									input(type="checkbox", id="checkbox-6" name="checkbox")
									label(for="checkbox-6") Bạn bè/ Người thân
								li.list-checkbox
									input(type="checkbox", id="checkbox-7" name="checkbox")
									label(for="checkbox-7") Internet
								li.list-checkbox
									input(type="checkbox", id="checkbox-8" name="checkbox")
									label(for="checkbox-8") Khác
						.form-group.col-12
							textarea#inpputTextArea.form-control(rows='2',placeholder="Lời nhắn")
					.frm-btnwrap
						.frm-btn
							input(type="submit" value ="GỬI")
					.text-form-bottom (*) Thông tin bắt buộc nhập. Vui lòng để lại thông tin các sản phẩm Quý khách hàng đang quan tâm. Chúng tôi sẽ liên hệ với Quý khách khi dự án mở bán.
			.col-lg-6
