.block__tool.dekstop
	ul
		li
			a(href="").icon
				span.material-icons mail_outline
			a(href="").caption
		li
			a(href="")
				span.lnr.lnr-phone-handset
		li
			a(href="")
				span.ri-messenger-fill
