section.home_s-4
	.head-title
		h2 Thư viện hình ảnh
	.library-wrap-swiper-wrapper
		.library-left
		.library-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							.card-img
								a(href="#")
									img(src="./img/2.png", alt="")
					.swiper-slide
						.wrapper
							.card-img
								a(href="#")
									img(src="./img/4.2.png", alt="")
					.swiper-slide
						.wrapper
							.card-img
								a(href="#")
									img(src="./img/4.3.png", alt="")
