.home_s-4
	background: #8d9090
	padding: 60px 0
	margin-top: 90px
	.head-title
		h2
			text-align: center
	.library-wrap-swiper-wrapper
		padding-top: 30px
		display: flex
	.library-right
		flex: 0 0 81.77%
		max-width: 81.77%
	.library-left
		flex: 0 0 18.22%
		max-width: 18.22%
	.swiper-slide
		display: block
		flex: 2 1 0
		padding-left: 10px
		width: auto !important
		height: 600px
		.wrapper
			height: 600px
			.card-img
				height: 600px
				a
					img
						width: 100%
						height: 100%
						object-fit: cover
	@media screen and (min-width: 1024.98px)
		.swiper-slide
