section.home_s-3
	.container
		.head-title
			h2 Vị trí
		.row
			.col-lg-7
				.card-img
					.img
						img(src="./img/3.png", alt="")
			.col-lg-5
				.content-s-3
					ul.list-time
						li
							.text-time 02'
							.caption đến quảng trường trung tâm
						li
							.text-time 05'
							.caption đến trung tâm quận 1
						li
							.text-time 08'
							.caption đến quận 4
						li
							.text-time 15'
							.caption đến quận 7
						li
							.text-time 30'
							.caption đến sân bay Tân Sơn Nhất
						li
							.text-time 45'
							.caption đến sân bay Long Thành
