section.home_s-2#menu-2
	.container-fuild
		.row
			.col-lg-6
				.card-img
					.img
						img(src="./img/2.png", alt="")
			.col-lg-6
				.content-s-2
					.head-title
						h2 Chủ đầu tư
					.vector-s-2
						.vector-logo
							a(href="")
								img(src="./img/vector-s-2.png", alt="")
						.text-vector Việt nam GS Enterprise
					.desc
						p VGSE là công ty con với 100% vốn đầu tư nước ngoài của Công ty xây dựng GS E&C Hàn Quốc
						p Với mục tiêu và tầm nhìn mang đến một cuộc sống thịnh vượng cho khách hàng trên toàn thế giới, VGSE không ngừng nổ lực và đúc kết kinh nghiệm, kỹ thuật hiện đại từ công ty mẹ để tạo ra những sản phẩm chất lượng và khẳng định uy tín quốc tế trong từng dự án của mình
						p Chúng tôi tin rằng, những sản phẩm cao cấp mang thương hiệu 'zeit' sẽ đến gần với nhiều khách hàng Việt Nam trong dự án Thủ Thiêm Zeit sắp tới.
	.container
		.row
			.col-lg-4
				.content-bottom
					.icon
						span.lnr.lnr-earth
					.desc-icon
						.caption 100%
						.text Vốn đầu tư nước ngoài
			.col-lg-4
				.content-bottom
					.icon
						span.lnr.lnr-apartment
					.desc-icon
						.caption 300
						.text Căn hộ, Duplex, Penthouse, Townhouse và Shophouse
			.col-lg-4
				.content-bottom
					.icon
						span.lnr.lnr-crop
					.desc-icon
						.caption 40.222m
						.text Diện tích toàn khu
