footer
	.footer-block
		.container
			.row
				.col-xl-4.col-md-6.col-sm-6.col-12
					.footer-address.pr-40
						.card-logo-top
							h4 Chủ đầu tư
							.footer-vector
								a(href="#")
									img(src="./img/vgse-footer.png", alt="")
							.text-footer Vietnam GS Enterprise
						.card-logo-bottom
							h4 Dự án
							ul
								li
									.footer-vector-bottom
										a(href="#")
											img(src="./img/logo-footer.png", alt="")
									.text-footer Thủ Thiêm zeit
								li
									.footer-vector-bottom
										a(href="#")
											img(src="./img/logo-footer-2.png", alt="")
									.text-footer Phân khu 1 Thủ Thiêm zeit River

				.col-xl-4.col-md-6.col-sm-6.col-12
					.footer-card
						.card-title
							h4 Địa chỉ
							.card-address Nguyễn Cơ Thạch, P.An Khánh, Quận 2, TP.HCM
						.card-title
							h4 Văn phòng kinh doanh
							.card-address 88 Đường B2, P.An Lợi Đông, Quận 2, TP.HCM
						.card-title-contact
							h4 Thông tin liên hệ
						.card-info-footer
							ul
								li
									.text-info Hotline
									a(href="tel:0901 83 82 83").hotline 0901 83 82 83
								li
									.text-info Email
									span ngochan@gsenc.com
								li
									.text-info Kết nối
									.item-links
										a(href="#").links
											span.ri-facebook-box-fill
										a(href="#").links
											span.ri-youtube-line
										a(href="#").links
											span.ri-instagram-line
				.col-xl-4.col-md-6.col-sm-6.col-12
					.footer-card
						.card-title
							h4 Xem bản đồ
						.footer-map
							iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19896.2391182464!2d106.67608946496217!3d10.772064938675168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f26de7d8973%3A0x8d5075f38e1bf491!2zNTA2LCAxNyBCYSBUaMOhbmcgSGFpLCBwaMaw4budbmcgMTEsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1590154490382!5m2!1svi!2s',  frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0',width="100%",height="230px")

	.footer-copyright
		.container
			.row.copyright-wrapper
				.right-text
					p © 2021 LP Zeit. 
						span Thiết kế website bởi Cánh Cam.
				.right-text-policy
					ul
						li
							a(href="#") Điều khoản sử dụng
						li
							a(href="#") Chính sách bảo mật
						li
							a(href="#") Sơ đồ trang website

