section.home_s-5
	.container
		.head-title
			h2 Tin tức
		.row
			.col-lg-6
				a(href="#")
					.news-big-img
						.img.zoom-in
							img(src="./img/news-1.png", alt="")
				.content-news-list
					.date
						time 15.09.2020
					.card-title-news
						a(href="#") Khu shophouse Thủ Thiêm zeit không gian năng động giữa chốn bình yên
					.title-zone
						p Sở hữu vị trí "Kim Cương" ngay trung tâm khu đô thị Thủ Thiêm, kết nối giao thông liên hoàn,...
					.view-more
						a(href="") Xem thêm
						span
			.col-lg-6
				.row.small-news
					.col-lg-6
						.new-img
							.img.zoom-in
								img(src="./img/news-2.png", alt="")
					.col-lg-6
						.content-small-news
							.date
								time 15.09.2020
							.title-small-news
								a(href="") Quy hoạch hiện đại cùng nhịp đại thời thượng
							.title-zone
								p Các căn hộ và nhà phố thương mại Thủ Thiêm Zeit đều có nét độc đáo. Được thiết kế theo phong cách kiến trúc hiện đại
							.view-more
								a(href="") Xem thêm
								span
				.row.small-news
					.col-lg-6
						.new-img
							.img.zoom-in
								img(src="./img/news-3.png", alt="")
					.col-lg-6
						.content-small-news
							.date
								time 15.09.2020
							.title-small-news
								a(href="") Thủ thiêm zeit một sản phẩm của tập đoàn GS E&C
							.title-zone
								p Tổ hợp dự án Thủ Thiêm zeit Xi của tập đoàn Hàn Quốc GS E&C đã khởi công xây dựng từ T10-2020
							.view-more
								a(href="") Xem thêm
								span
			.col-lg-12
				.all-view-more
					a(href="") xem thêm
