<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Header - Main Menu" value="1" resourcefile="" />
      <add name="Home - Giới thiệu" value="2" resourcefile="" />
      <add name="Home - Chủ đầu tư" value="4" resourcefile="" />
      <add name="Home - Vị trí" value="8" resourcefile="" />
      <add name="Home - Thư viện hình ảnh" value="16" resourcefile="" />
      <add name="Home - Tin tức" value="32" resourcefile="" />
      <add name="Footer - Chủ đầu tư" value="64" resourcefile="" />
      <add name="Footer - Dự án" value="128" resourcefile="" />
      <!-- <add name="Nhận xét" value="256" resourcefile="" />
      <add name="Tin tức - Hoạt động" value="512" resourcefile="" /> -->
    </position>

</settings>
