header
	.container
		nav
			.header
				.toggle-menu
					.hamburger-button
						span
						span
						span
					span.text MENU
				.language
					ul
						li.active
							a(href="") VN
						li
							a(href="") EN
				.main-menu
					ul.nav-menu
						li.nav-item
							a.nav-link(href="#") Giới thiệu
						li.nav-item
							a.nav-link(href="#") Chủ đầu tư
						li.nav-item
							a.nav-link(href="#") Vị trí
						li.nav-item
							a.nav-link(href="#") Thư viện hình ảnh
						li.nav-item
							a.nav-link(href="#") Tin tức
						li.nav-item
							a.nav-link(href="#") Đăng ký tư vấn
						li.nav-item
							a.nav-link(href="#") Liên hệ
					.social
						ul.icon
							li
								a(href="#")
									span.ri-facebook-fill
							li
								a(href="#")
									span.ri-twitter-fill
				.logo
					a(href="")
						img(src="./img/logo.png", alt="")
			.header-infor
				.hotline-box
					ul.tel
						li
							.icon-tel
								span.ri-phone-fill
							.text-tel
								a(href="tel:0901 83 82 83") 0901 83 82 83
				.search-icon
					span.material-icons search
	.block_search
		.search-icon
			span.ri-close-line
		.search_box
			input(type="text" placeholder="Tìm kiếm")
			button(type="submit").material-icons search
	.menu_mobile
		.header_btn
			span.ri-close-line
		.mobile-wrapper
	.overlay
