section.home-banner
	.container-fuild
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner.png", alt="")
					.caption
						h2.title-caption Thu Thiem Zeit
						h2.title-caption Trung tâm kết nối cộng động thượng lưu
						.arrow-banner
							span.lnr.lnr-chevron-down
							span.lnr.lnr-chevron-down
							span.lnr.lnr-chevron-down



